<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/public/css/style_reporte.css">
</head>
<body>
    <!-- Contenedor de todo -->
    <div class="container">
        <!-- parte de la izquierda -->
        <div class="left-area">
            <!-- Div del Logo -->
            <div class="Separar">
                <img src="/src/public/img/logowaterbender.png" class="Logo_size">
                    <img src="/src/public/img/Water Bender.png" class="Logo_texto">
            </div>

            <!-- Div de la lista -->
            <div>
                <ul class="Lista_estilo">
                    <li class="Separar">Home</li>
                    <li class="Separar">The Country's consumption</li>
                    <li class="Separar">Reports</li>
                    <li>Settings</li>
                </ul>
            </div>
        </div>
        <!-- Div de la parte derecha -->
        <div class="right-area">
            <!-- div de la parte de arriba -->
            <div>
            <h6 class="Alinear_derecha Separar"> Jose Luis Mañon</h6>   
            </div>
            <!-- div de la parte de reporte -->
            <div class="Separar_izquierda">
                <h1>Report</h1>
                <h6 class="Separar">View of your water consumption report</h6>
            </div>
            <!-- Div de los dos cuadros juntos -->
            <div class="Separar_izquierda Cuadros" >
                <!-- Div del primer cuadro -->
                <div class="Cuadro" >
                    <h4>Consumption</h4>
                    <h1>Non-potable Water</h1>
                    <h5>February 2024</h5>
                    <h6>Total consumption</h6>
                    <h1>10 L</h1>
                    <h6>Consumption expenditure</h6>
                    <h1>2 K</h1>
                </div>
                <div class="Cuadro">
                    <h4>Consumption</h4>
                    <h1>Non-potable Water</h1>
                    <h5>February 2024</h5>
                    <h6>Total consumption</h6>
                    <h1>16   L</h1>
                    <h6>Consumption expenditure</h6>
                    <h1>2 K</h1>
                </div>
                <!-- Div del segundo cuadro -->
                <div>

                </div>
            </div>
       </div>
    </div>
</body>
</html>