<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style_reporte.css">
</head>
<body style="overflow-y: hidden;">
    <!-- Contenedor de todo -->
    <div class="container">
        <!-- parte de la izquierda -->
        <div class="left-area">
            <!-- Div del Logo -->
            <div class="Separar">
                <img src="./img/logowaterbender.png" class="Logo_size">
                    <img src="./img/Water Bender.png" class="Logo_texto">
            </div>

            <!-- Div de la lista -->
            <div>
                <ul class="Lista_estilo">
                    <li style="margin-left: 0%;" class="Separar2 Separar_arriba boton_menu"><img width="35px" src="./img/dashboard.png"><p style="margin-left: 10px;" class="En_linea"><a class="a" href="dashboard">Home</a></p></li>
                    <!-- <li class="Separar2 "><img src="Country.png">The Country's<br> consumption</li> -->
                    <div class="cuadro_menu Separar2">
                    <div class="margin_mapa">
                        <img src="./img/Country.png">
                    </div>
                    <div style="margin-left: 10px;" class="En_linea">
                        <p ><a class="a"  href="consumption">The country's Consumption</a></p>
                    </div>
                </div>
                <div style="padding: 7px;" class="cuadro_menu Separar2 Color_blanco Lista_Color">
                    <div>
                        <img style="text-align: center;" src="./img/report.jpg" width="35px">
                    </div>
                   <div class="En_linea">
                    <p class="margin_mapa"><a class="a2" href="">Reports</a></p>
                   </div>
                   </div>
                   <div class="cuadro_menu Separar2">
                    <div>
                        <img src="./img/Services.png">
                    </div>
                   <div class="En_linea">
                    <p>Settings</p>
                   </div>
                   </div>
                </ul>
            </div>
        </div>
        <!-- Div de la parte derecha -->
        <div class="right-area">
            <!-- div de la parte de arriba -->
            <div class="perfil">
                <h6> Jose Luis Mañon</h6>  
                <img class="En_linea " src="./img/Male User.png">
            </div>
            <!-- div de la parte de reporte -->
            <div class="Separar_izquierda">
                <h1 class="Reporte">Report</h1>
                <h6 class="Separar view">View of your water consumption report</h6>
            </div>
            <!-- Div de los dos cuadros juntos -->
            <div class="Separar_izquierda Cuadros" >
                <!-- Div del primer cuadro -->
                <div class="Cuadro" >
                    <h4 class="view">Consumption</h4>
                    <h1>Non-potable Water</h1>
                    <h5>February 2024</h5>
                    <h6>Total consumption</h6>
                    <h1>10 L</h1>
                    <h6>Consumption expenditure</h6>
                    <h1>2 K</h1>
                </div>
                <div class="Cuadro">
                    <h4 class="view">Consumption</h4>
                    <h1>Non-potable Water</h1>
                    <h5>February 2024</h5>
                    <h6>Total consumption</h6>
                    <h1>16   L</h1>
                    <h6>Consumption expenditure</h6>
                    <h1>2 K</h1>
                </div>
                <!-- Div del segundo cuadro -->
                <div>

                </div>
            </div>
       </div>
    </div>
</body>
</html>
