<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <h1>Pagina Principal</h1>
    <h1>Temperatura en tiempo real</h1>
    <p>La temperatura actual es: <span id="tempera">25</span> °C</p>
    <script type="module" src="./js/temp.js"></script>
</body>
</html>
