<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Mizer Enterprises</title>
    <link rel="stylesheet" href="/assets-Pagina/css/style_pagina.css" type="text/css">
</head>
<body>
    <header class="seccion-con-fondo">
            <article class="contenedor-flex right" >
                <div>
                    <img class="img-logo" src="/assets-Pagina/img/logoenterprise.png" >
                </div>
                <ul class="ul">
                    <li class="li-header ">HOME</li>
                    <li class="li-header ">ABOUT US</li>
                    <li class="li-header ">BLOG</li>
                    <li class="li-header ">CONTACT US</li>
                    <li class="li-header">KIDS</li>
                </ul>
                
            </article>
            <article class="article-inicio">
                    <img class="img-inicio" src="/assets-Pagina/img/logowaterbender.png" >
                    <h1>Water Bender</h1>
                    <h2>Mizer Enterprises</h2>
                    <div class="div-text">
                    <p>WaterBender is an app that will allow you to manage your water expenses and improve its use. </p>
                    </div>
            </article>
            <article class="article-buttom right ">
                <button class="buttom-inicio-sesion">Iniciar sesión</button>
                <p class="right">No tienes una cuenta? Registrate aqui</p>
            </article>
    </header>

    <main>
        <section class="seccion-con-fondo-aboutUs">
            <article class=" article-aboutus ">
                <h2 class=" h2-p">About Us</h2>
            <div class="contenedor-flex">
            <div class="div-about-us">
                <p class="justify">Mizer Enterprises is born on the idea to help the dominican society thru technology applied to biosustainability and environmental contribution, mainly focused on water systems. 
                    In 2024, the students of 6th grade  B on Computer Science, develop their own enterprise with the goal to solve a very common problematic related to the water in the Dominican Republic.

                </p>
            </div>
            <div>
                <img class=" img-logo-about" src="/assets-Pagina/img/logoenterprise.png">
            </div>
        </div>
            </article>
            <article class="article-mvv ">
                <div class="div-empresa contenedor-flex">
                <div class="div-mvv">
                    <h3>Misión</h3>
                    <p>Provide innovative and high-quality products for water improvement, with the aim of offering effective and sustainable solutions that help minimize the expense.</p>
                </div>
                <div class="div-mvv" > 
                    <h3>Visión</h3>
                    <p>We aspire to be a reference in the industry, providing solutions that promote the conservation of water resources globally.</p>
                </div>
                <div class="div-mvv"> 
                    <h3>Valores</h3>
                    <ul>
                        <li>Susteintability</li>
                        <li>Compromiso mediomabiental </li>
                        <li>Innovación</li>
                        <li>Ética</li>
                    </ul>
                </div>
            </div>
            </article>
        </section>

        <section class="seccion-con-fondo-blog">
            <article class="article-blog-blanco">
            <h2 class="h2-p">Blog</h2>
            <article class="contenedor-flex">
            <div>
                <article class="article-blog">
                    <div class="contenedor-flex">
                        <div><img class="img-blog " src="/assets-Pagina/img/2.png" ></div>
                        <div class="div-name-blog">
                            <p class="justify">May 1, 2024 </p>
                            <h4 class="left">What is water?</h4>
                        </div>
                    </div>
                    <div>
                        <p class="justify div-info-blog">Water is a substance that is made up of two hydrogen atoms and one oxygen atom (H2O) and can be found in solid (ice), gas (steam) and liquid (water) states. The physical and chemical properties of water are very important for the survival of ecosystems.</p>
                    </div>
                </article>
                <article class="article-blog">
                    <div class="contenedor-flex">
                        <div><img class="img-blog" src="/assets-Pagina/img/3.png" ></div>
                        <div class="div-name-blog">
                            <p class="justify">April 28, 2024 </p>
                            <h4 class="left">Is water running out in the Dominican Republic?</h4>
                        </div>
                    </div>
                    <div>
                        <p class="justify div-info-blog">According to data from the Latin American Observatory of Water and Sanitation Services (OLAS, 2023), 91.6% of Dominican households have access to water sources considered safe or improved. This access is higher in urban areas, at 94.2%, compared to 79.0% in rural areas. </p>
                    </div>
                </article>
            </div>
            <div>
                
                <article class="article-blog">
                    <div class="contenedor-flex">
                        <div><img class="img-blog" src="/assets-Pagina/img/4.png" ></div>
                        <div class="div-name-blog">
                            <p class="justify">May 6, 2024 </p>
                            <h4 class="left">Water on the planet</h4>
                        </div>
                    </div>
                    <div>
                        <p class="justify div-info-blog">The average annual water availability in the world is approximately 1,386 million km3, of which 97% is salt water, 3%, that is, 35 million km3, is fresh water and of this almost 70% is not available. for human consumption because it is found in the form of glaciers, snow or ice. </p>
                    </div>
                </article>
                <article class="article-blog">
                    <div class="contenedor-flex">
                        <div><img class="img-blog" src="/assets-Pagina/img/1.png" ></div>
                        <div class="div-name-blog">
                            <p class="justify">April 30, 2024 </p>
                            <h4 class="left">How wastewater affects Dominican Republic in the Dominican Republic?</h4>
                        </div>
                    </div>
                    <div>
                        <p class="justify div-info-blog">In the Dominican Republic, 96.2% of the wastewater produced is discharged into the subsoil and the sea without any type of treatment, contaminating the water and the environment.</p>
                    </div>
                </article>
            </div>
        </article>
        </article>
        </section>
    </main>

    <footer class="seccion-con-contact">
    <div class="blanco">hola</div>
    <section class="contenedor-flex">
    <article class="article-contact">
        <h2>Contact Us</h2>
    <div class="contenedor-flex">
        <article>
            <input type="text" required placeholder="Full Name">
            <input type="email" required placeholder="Email Address">
        </article>

        <article>
            <input type="text" required placeholder="Phone">
            <input type="text" required placeholder="Subject">
        </article>
    </div>
        <input class="input-write" type="text" required placeholder="Write a mesaage" >
        <button> Send Message</button>
    </article>
    <article class="article-info">
        <h2 class="h2-li">Info</h2>
        <ul class="ul-contact">
            <li class="left"><img class="img-icon" src="/assets-Pagina/img/email.png">info@mizer-Enterprises.com</li><br>
            <li class="left"><img class="img-icon" src="/assets-Pagina/img/phone.png">+1 809 483 0290</li><br>
            <li class="left"><img class="img-icon" src="/assets-Pagina/img/home.png">Av. John F. Kennedy</li><br>
            <li class="left"><img class="img-icon" src="/assets-Pagina/img/clock.png">9:00AM-4:00PM</li><br>
        </ul>
    </article>
</section>
    </footer>
    <section class="blanco-footer">
        <p>©2024, 6to Serbs informática</p>
    </section>

</body>
</html>