<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>            <article class="contenedor-flex right" >
        <div>
            <img class="img-logo" src="/assets-Pagina/img/logoenterprise.png" >
        </div>
        <ul class="ul">
            <li class="li-header ">HOME</li>
            <li class="li-header ">ABOUT US</li>
            <li class="li-header ">BLOG</li>
            <li class="li-header ">CONTACT US</li>
            <li class="li-header">KIDS</li>
        </ul>
        
    </article></header>
</body>
</html>