<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style_pulpo.css">
    <title>Document</title>
</head>
<body>
    <header class="seccion-con-fondo ">            
        <article class="contenedor-flex left" >
            <img class="img-logo" src="./img/logo-enterprises-oscuro.png" >
        <ul class="ul">
            <li class="li-header "><a href="/">HOME</a></li>
            <li class="li-header "><a href="">ABOUT US</a></li>
            <li class="li-header "><a href="">BLOG</a></li>
            <li class="li-header "><a href="">CONTACT US</a></li>
            <li class="li-header text-kids"><a href="/MizerKids">KIDS</a></li>
        </ul>
    </article>
    <div class="div-text">
        <h1>Water Kids</h1>
        <h2>Catalog of books for children from 1 to 5 years</h2>
    </div>
    <article class="contenedor-flex article-books">
            <a href="https://www.flipbookpdf.net/web/site/77135eaeaa85fc18b836e2684441956ee048de7e202405.pdf.html"><img class="img-books" src="./img/gotita.jpg" ></a>
            <a href="https://www.flipbookpdf.net/web/site/21d60b29149a28da14c0f4dca7f65133e9b05405202405.pdf.html"><img class="img-books" src="./img/guar.jpg" ></a>
            <a href=""><img class="img-books" src="./img/Tortugita-caparazon.jpg" ></a>
            <a href="/Pedrito"><img class="img-books" src="./img/pedrito.jpg" ></a>
    </article>
</header>

</body>
</html>