<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style_MizerKids.css">
    <title>Document</title>
</head>
<body>
    <header class="seccion-con-fondo ">            
        <article class="contenedor-flex left" >
            <img class="img-logo" src="./img/Logo-enterprises-claro.png" >
        <ul class="ul">
            <li class="li-header "><a href="/">HOME</a></li>
            <li class="li-header "><a href="">ABOUT US</a></li>
            <li class="li-header "><a href="">BLOG</a></li>
            <li class="li-header "><a href="">CONTACT US</a></li>
            <li class="li-header text-kids"><a href="/MizerKids">KIDS</a></li>
        </ul>
    </article>
    <article class="article-kids">
        <h1 class="justify">Water Kids</h1>
        <h3 class="justify">From 1 to 5 years old</h3>
        <p class="justify">It contains a series of stories and games that develop an affinity for environmental care.</p>
        <button><a class="a-especial" href="/MizerKids-Pulpo">Explorar</a></button>
    </article>

    <article class="article-benders">
        <h1 class="justify">Water Benders</h1>
        <h3 class="justify">From 6 to 12 years old</h3>
        <p class="justify">The stories for this age range address themes that raise awareness about water consumption and acquiring knowledge about marine ecosystems.</p>
        <button><a class="a-especial" href="/MizerBenders">Explorar</a></button>
    </article>

</header>

</body>
</html>