<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style_benders.css">
    <title>Document</title>
</head>
<body>
    <header class="seccion-con-fondo ">            
        <article class="contenedor-flex left article-img" >
            <img class="img-logo" src="./img/Logo-enterprises-claro.png" >
        <ul class="ul">
            <li class="li-header "><a href="/">HOME</a></li>
            <li class="li-header "><a href="">ABOUT US</a></li>
            <li class="li-header "><a href="">BLOG</a></li>
            <li class="li-header "><a href="">CONTACT US</a></li>
            <li class="li-header text-kids"><a href="/MizerKids">KIDS</a></li>
        </ul>
    </article>
    
</header>

</body>
</html>