<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style_pedrito.css">
    <title>Document</title>
</head>
<body>
    <header class="seccion-con-fondo ">            
        <article class="contenedor-flex left" >
            <img class="img-logo" src="./img/Logo-enterprises-claro.png" >
        <ul class="ul">
            <li class="li-header "><a href="/Mizer-Enterprises.html">HOME</a></li>
            <li class="li-header "><a href="">ABOUT US</a></li>
            <li class="li-header "><a href="">BLOG</a></li>
            <li class="li-header "><a href="">CONTACT US</a></li>
            <li class="li-header text-kids"><a href="/MizerKids.html">KIDS</a></li>
        </ul>
    </article>
    <article class="article-pedrito">
        <h2 class="justify">Category: Water Kids</h2>
        <h1 class="justify">By: Anonymous</h1>
        <h4 class="justify">“One day, while playing near the coast, Pedro noticed something strange. The water was cloudy and full of garbage. Plastic bottles floated on the surface and bags became tangled in the seaweed. Pedro was saddened to see how his home was becoming a dirty and dangerous place for all marine beings.</h4>
        <p class="justify">With this story, children will learn values ​​such as teamwork, willingness and what it means to do their bit to change the world.</p>
        <button><a class="a-especial" href="https://flipbookpdf.net/web/site/a26ce7960b80473f50a0149cfd7c7b09d831f0db202405.pdf.html" target="_blank">Read</a></button>
    </article>
    
</header>

</body>
</html>