@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&family=Open+Sans:wght@300;400;600;800&display=swap');

.container {
    display: grid;
    grid-template-columns: 1fr 4fr; /* Divide en dos columnas iguales */
    width: 100%;
}

.Reporte{
    font-size: 50px;
    color: #3E0FDF;
    font-weight: 600;
}

.view{
    font-weight: 400;
}

.left-area {
    background-color: #f0f0f0;
    padding:10px;
    background-color: #3e15c9;
    height: 711px;
    color: #ffffff;
    overflow: hidden;

}

.right-area {
    background-color: #F3F6FF;
    padding: 20px;
    height: 675px;

}

*{
    margin: 0%;
    font-family: 'Inter';
}

.Logo_size{
    padding-top: 30px;
    width: 80px;
    height: 80px;
    padding-left: 0px;
}

.Logo_texto{
  padding-left: 15px;
  width: 120px;
  height: 75px;
}

.Separar{
    margin-bottom: 60px;
}

.Separar_izquierda{
    margin-left: 40px;
}

.Lista_estilo{
    list-style: none;
    padding: 0px;
    font-size: 24px;
}
h1{
    font-size: 40px;
    margin-bottom: 15px;
    color: #0C1B6B;
}

h4{
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 18px;
}

h5{
    margin-bottom: 40px;
}

h6{
    font-size: 18px;
}

.Alinear_derecha{
    text-align:right;
}

.Cuadro{
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 500px;
    padding-bottom: 40px;
}

.Cuadros{
   display: grid;
   grid-template-columns:1fr 2fr;
   gap: 20px;
}

.a{
    color: #ffffff;
}



/* ---------------------------------------- */
.Separar{
    margin-bottom: 10px;
}

.Separar2{
    margin-bottom: 30px;
}

.Separar_izquierda{
    margin-left: 40px;
}

.Separar_enboton{
    margin-top:  11px;
}

.Separar_arriba{
    margin-top: 60px;
}

.Color_blanco{
    background-color: white;
    border-radius: 10px;
    }

.a{
    color: #ffffff;
    text-decoration: none;
}

.a2{
    color: #3e15c9;
    text-decoration: none;
}

.Lista_estilo{
        list-style: none;
        padding: 0px;
        font-size: 24px;
        margin-left: 10px ;
    }
    
.Lista_Color{
        color: #0032B9 ;
}

.boton_menu{
    padding: 7px;
}

.cuadro_menu{
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.margin_mapa{
    margin-top: 5px;
}

.En_linea{
    display: inline-block;
}

.perfil{
    display: flex;
    justify-content: flex-end;
     align-items: center;
}

