
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Macondo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    text-align: center;
    justify-content: center;
}

html{
    background-color: #ffffff;
    font-family: "Inria Sans", sans-serif;
}

body{
    width: 100%;
    margin: 0 auto;
}

.left{
    text-align: left;
    justify-content: left
}

.seccion-con-fondo {
    width: 100%;
    background-image: url('../img/fondoKids.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0 auto;
  }

  .li-header {
    float: left;
    padding: 50px 50px 50px 50px; 
    font-size: 30px;
    color: #3E15C9;
  }

  .ul {
    list-style-type: none;
    margin: 0px 0px 0px 40px;
    padding: 0%;
    overflow: hidden;
  }

  .contenedor-flex{
    display: flex;
    margin: 0%;
}

.img-logo{
    width: 270px;
    margin: 0px 0px 10px 5px;
}

h1{
    font-size: 50px;
    font-family: "Forum", serif;
    color: #42A1FF;
    margin: 8% 0% 0% 0%;
    font-weight: 100;
}

h3{
    color: #496CBE;
    font-family: "Poppins", sans-serif;

}

p{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}

.article-kids{
    width: 35%;
    margin-left: 45%;
    padding-top: 20px;
}

.justify{
    text-align: justify;
}

.article-benders{
    width: 35%;
    padding-bottom: 100px;
    padding-top: 50px;
    margin-left: 15%;
}

button{
    border-radius: 40px;
    border-bottom: #ffffff;
    font-family: "Poppins", sans-serif;
    width: 180px;
    height: 30px;
    font-size: 16px;
    background-color: #3C18B4;
    margin: 20px 0px 20px 350px;
    color: #ffffff;
    font-weight:500;
}

.div-logo{
    margin: 0 auto;
    padding: 0%;
}

.text-kids{
    font-size: 30px;
    color: #3E15C9;
    overflow-inline: #3E15C9;
    height: 15px;
}

a{
    color: #3E15C9;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.a-especial{
    color: #ffffff;
}
